
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
 {% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/MasterStyle.css' %}">

<body >
<div style="    background: url(/static/media/SelectDes.png) no-repeat right top/100%;
    position: absolute;
    width: 30%;
    height: 50%;
    top: 0;
    border: 0;
    right: 0;">

 </div>

<div style=" background: url(/static/media/TomexLogo.png) no-repeat left top/30%;
    position: absolute;
    width: 30%;
    height: 50%;
    top: 45px;
    border: 0;

  ">

    <div style="  margin-top: 26%;
    left: 31px; padding:3%;
    text-align: justify;">
    </div>
 </div>
<form class="form-horizontal" name="LoginForm"  method="post">
     <div class="customClassLogin" >
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" class="form-control"  id="username" name="username"  placeholder="Username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
        </div>
         <div class="control-group">
            <label class="control-label" for="root">Root</label>
            <div class="controls">
                <input type="text" class="form-control" name="root" id="root" placeholder="root" >
            </div>
        </div>
         <div class="control-group CustomLoginBtn">
            <div class="controls ">
                <button type="submit" class="btn btn-primary" style="width: 100%;">Login</button>
            </div>
        </div>
     </div>
        </form>

</body>
</html>