{% extends "MasterPage/MasterIndex.html" %}

{% block content %}
 {% load static %}

<style>

    .GroupTable td {
     text-align:center;
    }

    .ULDetailsClass{
    list-style-type: none;
    width:100%;
    }
</style>
<link rel="stylesheet" href="{% static 'css/Style.css' %}">





<!--<a href="{%url 'masters:Master' %}">Go to Master Page</a><br>-->
<!--Hi from Home page  <a  href="{%url 'masters:Master' %}">Back to Snipptes</a>-->


<div style="display: flex;
    flex-direction: column;
    max-width: 1024px;
    min-width: 584px;
    z-index: 0;background:white;
    margin: auto;" >


<!--<div class="ClassMainHeader"> قسم الكربات السياحية</div>-->
<div class="container"  ng-repeat='c in Groups' style="
    max-width: 1024px;
    min-width: 584px;
    border-bottom: 1px solid transparent;border-radius: 2px;
    "  >

    <div class="row"  style=" display: flex;
    line-height: calc(15px + 4px);     position: relative;
    padding: 16px 24px; box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);">
        <div class="col-lg-3 col-sm-3"> <img style="     float:right; width: 20%;" src="https://www.gstatic.com/flights/airline_logos/70px/FZ.png">

            <div style="   float:right;  flex: 0 0 35%; text-align:center">
                 <span style="padding:15px; font-weight:bold; font-size:16px;"> [[c.fields.countryName]] <span  > ([[c.fields.Days]] يوم) </span></span><br/>
                 <span style="font-size: 11px; color: #808080ad; position: relative; ">فندق [[c.fields.HotelName]]  </span>

            </div>

        </div>
        <div class="col-lg-3 col-sm-3">
          <div style="       float: right;
                            flex: 0 0 91%;
                            text-align: center;">
                 <span style="padding:15px; font-weight:bold; font-size:16px;"> [[c.fields.FlightName]] </span><br/>
                 <span style="font-size: 13px; color: #808080ad; position: relative; ">مطار [[c.fields.AirPort]]  </span><br/>
              <span style="font-size: 11px; color: #808080ad; position: relative; "> [[c.fields.FlightDate]]  </span>


            </div>
        </div>
        <div class="col-lg-3 col-sm-3">
          <div style="       float: right;
                            flex: 0 0 91%;
                            text-align: center;">
                 <span style="padding:15px; font-weight:bold; font-size:16px;">مطار [[c.fields.AirPort]] </span><br/>
                 <span style="font-size: 13px; color: #808080ad; position: relative; "> [[c.fields.NoOfSeats]] مقعد  </span>

            </div>
        </div>
        <div class="col-lg-3 col-sm-3">
          <div style="       float: right;
                            flex: 0 0 91%;
                            text-align: center;">
                               <span style="padding:15px; font-weight:bold; font-size:16px;"> تسديد البالغ </span><br/>
                                 <span style="padding:15px; font-weight:bold; font-size:16px;"> [[c.fields.ADTPrice*1]] USD </span><br/>

            </div>


        </div>


        {% if user.is_staff %}
        <span  ng-show="!c.fields.showEdit" class="label label-warning" style=" font-size: 14px;   height: 38px;    padding: 0px;    margin-left: 18px;">
            <span  id="EditClass"  ng-click="c.fields.showEdit=1;" class="glyphicon glyphicon-edit OrginClickSpn" style="cursor:pointer; display:inherit">  تحرير   </span>
        </span>

         <span ng-show="c.fields.showEdit" class="label label-danger" style=" font-size: 14px;   height: 38px;    padding: 0px;    margin-left: 18px;">
            <span  id="SaveClass"  ng-click="c.fields.showEdit=0;" class="glyphicon glyphicon-save OrginClickSpn" style="cursor:pointer; display:inherit">  حفظ   </span>
        </span>

        {% endif %}

        <span   ng-show="!c.fields.showDetails" class="label label-primary" style=" font-size: 14px;   height: 38px;    padding: 0px;     color: black;
    border: 1.2px solid rgb(12, 116, 137);
    background-color: #337ab700;">
            <span id="DownClass" ng-click="c.fields.showDetails=1;" class="glyphicon glyphicon-chevron-down OrginClickSpn" style="cursor:pointer; display:inherit ">  تفاصيل</span>
        </span>

        <span ng-show="c.fields.showDetails" class="label label-danger" style=" font-size: 14px;   height: 38px;    padding: 0px;    color: red;
    border: 1.2px solid #ff0202;
    background-color: #ffffff24;">
            <span ng-show=" c.fields.showDetails" id="UppClass"  ng-click="c.fields.showDetails=0;" class="glyphicon glyphicon-chevron-up OrginClickSpn" style="cursor:pointer; display:inherit">  اخفـــاء   </span>
        </span>

    </div>
    <div class="row">

    <div ng-show="c.fields.showDetails==1" class="col-lg-12" style=" height:auto; display: flex;
    line-height: calc(15px + 4px); border-top: 2px solid #80808073;     position: relative;
    padding: 16px 24px; box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);">

        <ul class="ULDetailsClass">
            <li style="padding-bottom: 25px;">
                <div>

                    <div  style="color: #67635e; font-size:15px   "><h3>  <i class="fa fa-pencil-square-o"></i> معلومات الكروب </h3></div>

                    <div>

                            <table width="100%" class="table">
                                <thead>
                                <tr style="color: #999; font-size:18px">
                                <th style="text-align:center"> <i class="fa fa-globe"></i>  الدولة </th>
                                <th style="text-align:center"> <i class="fa fa-home"></i> المطار </th>
                                <th style="text-align:center">  <i class="fa fa-calendar"></i>  تاريخ الاقلاع </th>
                                <th style="text-align:center">  <i class="fa fa-plane"></i>   نوع الطيران</th>
                            </tr>
                                </thead>

                                <tbody>
                                 <tr style="color: black; font-size:16px">
                                <td style="text-align:center">[[c.fields.countryName]] ([[c.fields.Days]] يوم - [[c.fields.NoOfSeats]] مقاعد ) </td>
                                <td style="text-align:center">[[c.fields.AirPort]]</td>
                                <td style="text-align:center">[[c.fields.FlightDate]]</td>
                                <td style="text-align:center">[[c.fields.FlightName]]</td>
                            </tr>
                                </tbody>
                            </table>

                    </div>
                </div>
            </li>
            <li style="padding-bottom: 25px;">
                 <div>

                    <div  style="color: #67635e; font-size:15px   "><h3> <i class="fa fa-users"> </i> التسعير </h3></div>

                    <div>

                            <table width="100%" class="table">
                                <thead>
                                <tr style="color: #999; font-size:18px">
                                <th style="text-align:center">  <i class="fa fa-user"></i>  تسديد البالغ </th>
                                <th style="text-align:center">  <i class="fa fa-child"></i>  تسديد الطفل </th>
                                <th style="text-align:center">  <i class="fa fa-child"></i>   تسديد الرضيع  </th>
                                <th style="text-align:center">  <i class="fa fa-bed"></i> المضاف للسنكل</th>
                            </tr>
                                </thead>

                                <tbody>
                                 <tr style="color: black; font-size:16px">
                                <td style="text-align:center"> [[c.fields.ADTPrice*1]] USD </td>
                                <td style="text-align:center"> [[c.fields.CHDPrice*1]] USD</td>
                                <td style="text-align:center"> [[c.fields.InfPrice*1]] USD</td>
                                <td style="text-align:center"> [[c.fields.SingleDiff*1]] USD</td>
                            </tr>
                                </tbody>
                            </table>

                    </div>
                </div>
            </li>

            <li style="padding-bottom: 30px;">

               <iframe id="Example2"
    title="Example2"
    width="109.4%"
    height="800px"
    frameborder="0"
    scrolling="yes"
    marginheight="0"
    marginwidth="0"
    style="margin-right: -7%;"
    ng-src='[[c.fields.HotelUrl]]' >
</iframe>

            </li>



        </ul>
    </div></div>
    <div class="row">

    <div ng-show="c.fields.showEdit==1" class="col-lg-12" style=" height:auto; display: flex;
    line-height: calc(15px + 4px); border-top: 2px solid #80808073;     position: relative;
    padding: 16px 24px; box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);">

        <ul>
            <li>[[c.fields.countryName]]</li>
            <li> [[c.fields.AirPort]]</li>
            <li> [[c.fields.FlightDate]]</li>
            <li> [[c.fields.NoOfSeats]]</li>
            <li> [[c.fields.HotelName]]</li>
            <li> $[[c.fields.ADTPrice*1]]</li>
            <li> $[[c.fields.CHDPrice*1]]</li>
            <li> $[[c.fields.InfPrice*1]]</li>
            <li> [[c.fields.Days]]</li>
            <li> $[[c.fields.SingleDiff*1]]</li>
            <li> [[c.fields.FlightName]]</li>
        </ul>
    </div></div>
</div>

    <!--<div ng-repeat='c in Groups' style="    border-bottom: 1px solid transparent;border-radius: 2px;-->
    <!--box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);   ">-->

        <!--<div style=" display: flex;-->
    <!--line-height: calc(15px + 4px);-->
    <!--padding: 16px 24px;">-->
        <!--<span>hakim</span></div>-->
    <!--</div>-->

    <!--<table class="table table-hover GroupTable">-->
        <!--<tr>-->
            <!--<td>الدولة</td>-->
            <!--<td>المطار</td>-->
            <!--<td>تاريخ الرحلة</td>-->
            <!--<td>المقاعد المتوفرة</td>-->
            <!--<td>اسم الفندق</td>-->
            <!--<td>سعر التسديد</td>-->
            <!--<td>تسديد الطفل</td>-->
            <!--<td>تسديد الرضيع</td>-->

            <!--<td>عدد الايام</td>-->
            <!--<td>فرق السنكل</td>-->
            <!--<td>الطيران</td>-->
        <!--</tr>-->

        <!--<tr ng-repeat='c in Groups'>-->
             <!--<td>[[c.fields.countryName]]</td>-->
            <!--<td> [[c.fields.AirPort]]</td>-->
            <!--<td> [[c.fields.FlightDate]]</td>-->
            <!--<td> [[c.fields.NoOfSeats]]</td>-->
            <!--<td> [[c.fields.HotelName]]</td>-->
            <!--<td> $[[c.fields.ADTPrice*1]]</td>-->
            <!--<td> $[[c.fields.CHDPrice*1]]</td>-->
            <!--<td> $[[c.fields.InfPrice*1]]</td>-->
            <!--<td> [[c.fields.Days]]</td>-->
            <!--<td> $[[c.fields.SingleDiff*1]]</td>-->
            <!--<td> [[c.fields.FlightName]]</td>-->

        <!--</tr>-->
    <!--</table>-->


    <!--<ul ng-repeat='c in Groups'>-->
        <!--<li>[[c.fields.countryName]]</li>-->
            <!--<li> [[c.fields.AirPort]]</li>-->
            <!--<li> [[c.fields.FlightDate]]</li>-->
            <!--<li> [[c.fields.NoOfSeats]]</li>-->
            <!--<li> [[c.fields.HotelName]]</li>-->
            <!--<li> $[[c.fields.ADTPrice*1]]</li>-->
            <!--<li> $[[c.fields.CHDPrice*1]]</li>-->
            <!--<li> $[[c.fields.InfPrice*1]]</li>-->
            <!--<li> [[c.fields.Days]]</li>-->
            <!--<li> $[[c.fields.SingleDiff*1]]</li>-->
            <!--<li> [[c.fields.FlightName]]</li>-->

    <!--</ul>-->

</div>

<style>

    .ClickSpn{
     background-color: #d6d6d6;
                        height: 32px;
                        padding: 10px;
                        border-radius: 50px;
    }

    .OrginClickSpn{
                              height: 32px;
                              padding: 10px;

    }
</style>



{% endblock %}