<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Title</title>
    {% load static %}

     <link rel="stylesheet" href="{% static 'css/MasterStyle.css' %}">
     <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
     <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">



     <script src="{% static 'scripts/jquery.js' %}" ></script>
     <script src="{% static 'scripts/angular.min.js' %}" ></script>
     <script src="{% static 'scripts/demo.js' %}" ></script>
     <script src="{% static 'scripts/bootstrap.min.js' %}" ></script>


    <style>

</style>
</head>
<body  ng-app="myApp" ng-controller="MyController">

<div class="grid-MainHeader">

    <div>
        <img id="MyLogo" class="img-responsive MyLogo" src="{%static 'media/TomexLogo.png'%}"/>
    </div>
    <div></div>
    <div></div>
    <div class="AuthClass">
        {% if user.is_authenticated %}
            Hi {{ request.session.Operator.Name }}- {{user.username}}!
            <a href="{% url 'logout' %}">logout</a>
        {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}?next={% url 'masters:Home'%}">login</a>
        {% endif %}
    </div>
</div>

<div id="Container">
    <div class="TitleStyleClass">I AM MASTER PAGE AND MY CHILDREN ARE</div>
        <div class="ActiveUserCss">
            {% if request.user in request.online_now %}
                Active users: [[MyData.Data]]
            {% endif %}
        </div>

    {% if user.is_authenticated %}

    <table class="table table-bordered LinkTable" >
        <tr>
            <td>الروابط</td>
        </tr>

        <tr>
            <td><a href="{%url 'masters:Home'  %}">Home Page</a></td>
        </tr>

        <tr>

            <td><a  href="{%url 'snippets:MainPage' %}">Go To Main Page of snippet</a><br></td>
        </tr>

        <tr>
            <td><a  href="{%url 'snippets:Testifying' %}">Go to Test Page of snippet</a></td>
        </tr>
</table>



        {% endif %}
        {% block content %}
        {% endblock %}

</div>
</body>

</html>